/* Footer Tahun Copyright */
footer {
    background-color: #333333;
    color: #ffffff;
    padding: 1px 0;
    text-align: center;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

/* Gaya teks hak cipta */
footer p {
    background-color: #333333; /* Tambahkan warna latar belakang */
    padding: 5px 0;
}

/* style.css */
#mode-label {
    margin-left: 10px;
    font-size: 14px;
    color: #777; /* Warna teks untuk label */
}
/* darkmode.css */
body.dark-mode {
    background-color: #222;
    color: #fff;
}

/* Styling untuk mode gelap */
.slider {
    background-color: #777; /* Warna latar belakang sakelar mode gelap */
}

.slider:before {
    background-color: #fff; /* Warna ikon mode gelap */
    border: 2px solid #777; /* Warna garis lingkaran mode gelap */
}

.project-container {
    display: flex;
    justify-content: space-around; /* Untuk menyusun proyek secara horizontal dan ratakan di tengah. */
    align-items: center; /* Untuk tengah secara vertikal jika proyek berbeda tinggi. */
}

.project-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 30%; /* Untuk membagi ruang 30% lebar layar untuk setiap proyek. */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card-title {
    font-size: 24px;
    margin: 10px 0;
}

.card-description {
    font-size: 16px;
}





